---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BaseFooter from '../components/BaseFooter.astro';
import BaseHeader from '../components/BaseHeader.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Emmanuel "LeanKhan" Segun-Lean';
let description = 'Personal Website of Emmanuel Segun-Lean';
let permalink = 'https://e.segunlean.com';
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <body>
    <div class="main-wrapper section md-section">
    <BaseHeader />
      <main class="main-content">
          <h1 class="nes-text is-success pixel-text">
            Emmanuel<span class="d-none d-inline-md">"LeanKhan"</span> Segun-Lean
          </h1>

          <span class="pixel-text badge bg-secondary mb-3">bio:</span>
          <!-- <p class="text-light">Developer | Designer</p> -->
          <p class="text-light">
           I'm a Full-stack web developer and Masters student. I like to build
            products that have social impact. I am interested in Nature,
            Culture, and Startups. Currently based in
            <span class="pixel-text badge bg-secondary p-1"
              >Winnipeg, Canada</span
            >
          </p>

          <h5 class="pixel-text">I have experience with...</h5>
          <div class="text-white">
            <ul>
              <li>Javascript/Typescript</li>
              <li>React, Vue, Angular</li>
              <li>Node JS</li>
              <li>Python</li>
              <li>Design</li>
            </ul>
          </div>

          <h5 class="pixel-text">Working on...</h5>
          <div class="text-white">
            <ul>
              <li>Research</li>
              <li>Improving my writing and reading</li>
              <li>Learning French <i>oui oui</i></li>
            </ul>
          </div>

          <h5 class="pixel-text">Would like to...</h5>
          <ul class="text-white">
            <li>Learn Go, DevOps, Hausa</li>
            <li>Take better pictures</li>
          </ul>

      </main>
    </div>

<BaseFooter />
  </body>
</html>
