<!-- bootstrap, :( -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<hr class="underline" />

    <footer class="container">
     <section class="links text-center">
            <span class="pixel-text badge bg-secondary mt-5">links:</span>
            <ul class="mt-2 p-0 tag-list">
              <!-- twitter -->
              <!-- <li>
                <a
                  href="https://twitter.com/leankhan_"
                  target="_blank"
                  rel="noopener"
                >
                  twitter </a
                >,
              </li> -->

              <li>
                <a
                  href="https://github.com/LeanKhan"
                  target="_blank"
                  rel="noopener"
                >
                  → github </a
                >,
              </li>

              <li>
                <a
                  href="mailto:eslean20@gmail.com"
                  target="_blank"
                  rel="noopener"
                >
                  <!-- email -->
                  → email
                </a>
              </li>

              <li>
                <a
                  href="https://www.linkedin.com/in/emmanuel-segun-lean/"
                  target="_blank"
                  rel="noopener"
                >
                  <!-- linkedin -->
                  → linkedIn </a
                >,
              </li>

              <li>
                <a
                  href="https://www.instagram.com/leankhan.photos/"
                  target="_blank"
                  rel="noopener"
                >
                  <!-- linkedin -->
                  → photos </a
                >,
              </li>

              <li>
                <a
                  href="https://drive.google.com/file/d/1bxwEgfzFa1aXP9mNjwSAjt3Uv9uJv-LE/view?usp=sharing"
                  target="_blank"
                  rel="noopener"
                >
                  <!-- portfolio -->
                  → design portfolio
                  <span class="badge bg-secondary p-1"
                    >Updated: June 2019</span
                  >
                </a>
              </li>
            </ul>
          </section>

      <div class="nes-container small text-center footer">
        <p>
        <i>do things that matter</i>
        </p>
      </div>
    </footer>