<hr class="underline" />

 <section class="links">
            <span class="pixel-text badge badge-secondary mt-5">links:</span>
            <ul class="mt-4 p-0">
              <!-- twitter -->
              <li>
                <a
                  href="https://twitter.com/leankhan_"
                  target="_blank"
                  rel="noopener"
                >
                  twitter </a
                >,
              </li>

              <li>
                <a
                  href="https://github.com/LeanKhan"
                  target="_blank"
                  rel="noopener"
                >
                  github </a
                >,
              </li>

              <li>
                <a href="blog" target="_blank" rel="noopener"> yarns </a>,
              </li>

              <li>
                <a
                  href="mailto:emmanuel.segunlean@protonmail.com"
                  target="_blank"
                  rel="noopener"
                >
                  <!-- email -->
                  email
                </a>
              </li>
            </ul>

            <ul class="p-0">
              <li>
                <a
                  href="https://www.linkedin.com/in/emmanuel-segun-lean/"
                  target="_blank"
                  rel="noopener"
                >
                  <!-- linkedin -->
                  linkedIn </a
                >,
              </li>

              <li>
                <a
                  href="https://drive.google.com/file/d/1bxwEgfzFa1aXP9mNjwSAjt3Uv9uJv-LE/view?usp=sharing"
                  target="_blank"
                  rel="noopener"
                >
                  <!-- portfolio -->
                  design portfolio
                  <span class="badge badge-secondary p-1"
                    >Updated: June 2019</span
                  >
                </a>
              </li>
            </ul>
          </section>

    <footer>
      <div class="nes-container text-center footer">
        <p>
          &copy; Emmanuel Segun-Lean <i>do things that matter</i>
        </p>
      </div>
    </footer>