---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/abstract-leankhan-logo-small.png" width="50px" />
        </a>
        <button class="navbar-toggler" id="base-navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class={`nav-link ${currentPath === "" ? "active" : ""}`} href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class={`nav-link ${currentPath === "" ? "projects" : ""}`} href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class={`nav-link ${currentPath === "" ? "posts" : ""}`} href="/posts">Posts</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form> -->
        </div>
      </div>
    </nav>

