---
const { project } = Astro.props;
const {name, description, link } = project;
const tags = project.tags.split(",");
---

    <article class="b-work">
        <header class="b-work__header">

            <h1 class="b-work__title">
                {name}
            </h1>

            <ul class="b-tags-list">
                {tags.map(tag => <li class="b-tag">{tag}</li>)}

            </ul>

        </header>


        <div class="b-work__content">

            <p>
                {description}
            </p>

        <slot />


        </div>

    </article>